
/* Head */ 

/* navbar */ 
nav.navbar.navbar-inverse.navbar-fixed-top{
  height: auto ; 
  z-index: 0;
  position: relative;
}

.navbar-inverse {
  background-color: #fff ;
  border-color: transparent ; 
  font-size: 2rem ; 
  
}
.navbar-inverse .navbar-brand{
  color: #333 ; 
  font-size: 3rem ; 
 
}
.navbar-inverse .navbar-brand i {
  padding-right: 1rem
}

.navbar-nav button a{
  color: #fff
}
a.navbar-brand img {
  width: 20%;
}
nav{
  margin-bottom: 0 !important
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background: transparent ; 
  border-bottom: 2px #fff solid ;
  color: #333
}


/* Index */ 
.index{
  background: url(../img/background.jpg) ; 
  color: #eee ; 
  height: 100%;}

  .Shadow{
  height: 100% ; 
  background: rgba(0,0,0,0.5)  ; 
  padding-top: 15%
  }
  