
/* Head */ 

/* navbar */ 
nav.navbar.navbar-inverse.navbar-fixed-top{
  height: auto ; 
  z-index: 0;
  position: relative;
}

.navbar-inverse .navbar-nav>li>a {
color : #fcf8e3 ; 
}
.navbar-inverse {
  background-color: #d43f3a ;
  border-color: transparent ; 
  font-size: 2rem ; 
  
}
.navbar-inverse .navbar-brand{
  color: #fcf8e3; 
  font-size: 3rem ; 
 
}
.navbar-inverse .navbar-brand:hover{
  color: #333
}
.navbar-inverse .navbar-brand i {
  padding-right: 1rem
}

.navbar-nav button a{
  color: #fcf8e3 
}
a.navbar-brand img {
  width: 20%;
}
nav{
  margin-bottom: 0 !important
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background: transparent ; 
  border-bottom: 2px #fcf8e3  solid ;
  color: #fcf8e3
}


/* Index */ 
.index{
  background: url(../img/background.jpg) no-repeat fixed; 
  color: #fcf8e3  ; 
  height: 100%;}

  .Shadow{
  height: 100% ; 
  background: rgba(0,0,0,0.5)  ; 
  padding-top: 15%
  }

.index button {
  height: 7vw;
 font-size: 3rem;
 margin-top: 4%; 
}
  
